<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<filter>
		<filter-name>Frontctl</filter-name>
		<display-name>Frontctl</display-name>
		<description></description>
		<filter-class>in.co.sachin.Frontctl</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Frontctl</filter-name>
		<url-pattern>/Frontctl</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>loginctrl</servlet-name>
		<display-name>loginctrl</display-name>
		<description></description>
		<servlet-class>in.co.sachin.loginctrl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegController</servlet-name>
		<display-name>RegController</display-name>
		<description></description>
		<servlet-class>in.co.sachin.RegController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginctrl</servlet-name>
		<url-pattern>/loginctrl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegController</servlet-name>
		<url-pattern>/RegController</url-pattern>
	</servlet-mapping>
</web-app>
